{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
<div id="cart-items">
    {% for product in cart_items %}
        <div class="card" style="width: 11rem">
            <img src="{{ product.imageLink }}" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title small">{{ product.brand }}</h5>
                <h5 class="card-title small">{{ product.price }}р.</h5>
                <p class="card-text small">{{ product.name }}</p>
                <a href="{{ path('cart_remove_item', { item_id: product.id }) }}" class="btn btn-primary">Удалить из корзины</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
