<div class="cart-item-card" data-cart-item-id="{{ cart_item['itemKey'] }}" data-product-id="{{ cart_item['itemKey'] }}" data-article-item="{{ cart_item['articleItem']|serialize(format='json') }}">
    <div class="cart-item-card__content">
        <label style="margin-right: .5rem">
            <input type="checkbox" class="form-check-input js-cart-item-check" value="{{ cart_item['positionId'] }}">
        </label>
        <div class="cart-item-card__left">
            <div class="cart-item-card__img-wrapper">
                <img src="#{# todo разобраться с картинками товара #}" alt="{{ cart_item['description'] }}">
            </div>
            <div class="cart-item-card__info">
                <a href="#" data-product-route="{{ path('detail_info', {'articleNumber': cart_item['number'], 'itemKey': cart_item['itemKey']}) }}" data-cart-item-id="{{ cart_item['itemKey'] }}" class="js-show-details cart-item-card__name">{{ cart_item['description'] }}</a>
                <div class="cart-item-card__action-buttons">
                    <div class="cart-item-card__delete-btn js-delete-cart-item">
                        <i class="fa-solid fa-trash js-delete-cart-item"></i> Удалить
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-item-card__right">
            <div class="cart-item-card__price-wrapper">
                <h5 class="cart-item-card__price">{{ cart_item['price'] * cart_item['quantity'] }} ₽</h5>
            </div>
            <div class="cart-item-card__quantity-counter">
                <div class="cart-item-card__minus-btn js-decrease-cart-item">-</div>
                <div class="cart-item-card__amount">{{ cart_item['quantity'] }}</div>
                <div class="cart-item-card__plus-btn js-increase-cart-item">+</div>
            </div>
        </div>
    </div>
</div>