<div class="cart-item-card" data-cart-item-id="{{ cart_item.id }}" data-product-id="{{ cart_item.product.id }}">
    <div class="cart-item-card__content">
        <div class="cart-item-card__left">
            <div class="cart-item-card__img-wrapper">
                <img src="{{ cart_item.product.imageLink }}" alt="{{ cart_item.product.name }}">
            </div>
            <div class="cart-item-card__info">
                <p class="cart-item-card__name">{{ cart_item.product.name }}</p>
                <div class="cart-item-card__action-buttons">
                    <div class="cart-item-card__delete-btn js-delete-cart-item">
                        <i class="fa-solid fa-trash js-delete-cart-item"></i> Удалить
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-item-card__right">
            <div class="cart-item-card__price-wrapper">
                <h5 class="cart-item-card__price">{{ cart_item.product.price * cart_item.quantity }} ₽</h5>
            </div>
            <div class="cart-item-card__quantity-counter">
                <div class="cart-item-card__minus-btn js-decrease-cart-item">-</div>
                <div class="cart-item-card__amount">{{ cart_item.quantity }}</div>
                <div class="cart-item-card__plus-btn js-increase-cart-item">+</div>
            </div>
        </div>
    </div>
</div>