<div class="tree">
    <div class="root">
        <div class="head">
            <div class="icon"><div class="arrow"></div></div>
            <p class="title">{{ vehicle.brand~' '~vehicle.name }}</p>
        </div>
        <div class="children">
            {% import _self as macros %}

            {% for group in detail_groups.childGroups %}
                {{ macros.displayMultilevel(group, vehicle.catalog, vehicle.vehicleId, vehicle.ssd) }}
            {% endfor %}
        </div>
    </div>
</div>



{# Рекурсивная функция для отображения всех подгрупп многоуровневых групп #}
{% macro displayMultilevel(groupObjects, catalog, vehicle_id, ssd) %}
    <div class="parent action-open">
        <div class="head action-open">
            <div class="icon action-open"><div class="arrow action-open"></div></div>
            <p class="title action-open">{{ groupObjects.name }}</p>
        </div>
        <div class="children">
            {% for childGroup in groupObjects.childGroups %}
                {% if childGroup.childGroups is empty %}
                    <div class="child">
                        <a href="{{ path('details_list_categories', {
                            'catalog': catalog,
                            'vehicle_id': vehicle_id,
                            'vehicle_ssd': ssd,
                            'group_id': childGroup.quickGroupId
                        }) }}" class="detail-link">{{ childGroup.name }}</a>
                    </div>
                {% else %}
                    {{ macros.displayMultilevel(childGroup, catalog, vehicle_id, ssd) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}