<ul class="groups-tree">
    <li>
        <details open>
            <summary>{{ vehicle.brand~' '~vehicle.name }}</summary>
            {% import _self as macros %}
            <ul>
                {% for group in detail_groups.childGroups %}
                    {{ macros.displayMultilevel(group, vehicle.catalog, vehicle.vehicleId, vehicle.ssd) }}
                {% endfor %}
            </ul>
        </details>
    </li>
</ul>

{% block javascripts %}
    <script>
        const links = document.getElementsByClassName('detail-link')
        for (let linkKey in links) {
            const listDetailsLink = links[linkKey]
            try {
                const href = listDetailsLink.getAttribute('href')
                listDetailsLink.addEventListener('click', (e) => {
                    e.preventDefault()
                    console.log(href)
                    return fetch(href).then(resp => {
                        resp.text().then(detailCards => renderDetailCards(detailCards))
                    })
                })
            } catch (e) {}
        }

        /**
         * @param detailCards - html of cards
         */
        function renderDetailCards (detailCards)
        {
            const detailsWindow = document.getElementById('details-window')
            detailsWindow.innerHTML = detailCards
        }
    </script>
{% endblock %}

{# Рекурсивная функция для отображения всех подгрупп многоуровневых групп #}
{% macro displayMultilevel(groupObjects, catalog, vehicle_id, ssd) %}
    <li>
        <details>
            <summary>{{ groupObjects.name }}</summary>
            <ul>
                {% for childGroup in groupObjects.childGroups %}
                    {% if childGroup.childGroups is empty %}

                        <li><a href="{{ path('list_details', {
                                'catalog': catalog,
                                'vehicle_id': vehicle_id,
                                'vehicle_ssd': ssd,
                                'group_id': childGroup.quickGroupId
                            }) }}" class="detail-link">{{ childGroup.name }}</a></li>
                    {% else %}
                        {{ macros.displayMultilevel(childGroup, catalog, vehicle_id, ssd) }}
                    {% endif %}
                {% endfor %}
            </ul>
        </details>
    </li>
{% endmacro %}