{% set statuses = {
    'wait_payment': 'Ожидание оплаты'
} %}

<div class="card order-card" style="max-width: 500px">
    <div class="card-body">
        <p class="card-title small"><b>Номер телефона: </b>{{ order.phoneNumber }}</p>
        <p class="card-text small"><b>Город: </b>{{ order.city }}</p>
        <p class="card-text small"><b>Адрес: </b>{{ order.address }}</p>
        <p class="card-text small"><b>Статус: </b><span class="{{ order.status }}">{{ statuses[order.status] }}</span></p>
        <hr>
        <p><b>Товары:</b></p>
        {% for item in order.items %}
            <p class="card-text small">
                <a href="">{{ item.product.name|replace({"Б/У": "", "б/у": ""}) }}</a>
            </p>
            <h5>{{ item.quantity }} шт</h5>
            <hr>
        {% endfor %}
    </div>
</div>