<div class="card order-card order-with-status-changed-notifications" data-order-id="{{ order['number'] }}" style="width: 300px">
    <div class="card-body">
        <p class="card-title small"><b>Номер заказа: </b>{{ order['number'] }}</p>
        <p class="card-title small"><b>Дата оформления: </b>{{ order['date'] }}</p>
        <p class="card-text small"><b>Способ получения</b>{{ order['paymentType'] }}</p>
        <p class="card-text small"><b>Статус: </b>
            <span>{{ order['status'] }}</span>
        </p>
        <p class="card-text"><a href="{{ path('order_page', { 'id': order['number'] }) }}">Перейти на страницу заказа</a></p>
        <p class="card-text"><b style="color: #c92e2e">Итоговая цена: </b><strong>{{ order['sum'] }}₽</strong></p>
    </div>
</div>