{% set statuses = {
    'wait_payment': 'Ожидание оплаты',
    'new': 'Новый'
} %}
{% set ways_to_get = {
    'courier_delivery': 'Доставка курьером',
    'pickup': 'Самовывоз'
} %}
{% set total_price = 0 %}

<div class="card order-card" style="width: 300px">
    <div class="card-body">
        <p class="card-title small"><b>Номер телефона: </b>{{ order.phoneNumber }}</p>
        {% if order.city is not null %}
            <p class="card-text small"><b>Город: </b>{{ order.city }}</p>
        {% endif %}
        {% if order.address is not null %}
            <p class="card-text small"><b>Адрес: </b>{{ order.address }}</p>
        {% endif %}
        <p class="card-text small"><b>Способ получения</b>{{ ways_to_get[order.wayToGet] }}</p>
        <p class="card-text small"><b>Статус: </b><span class="{{ order.status }}">{{ statuses[order.status] }}</span></p>
        <hr>
        <p><b>Товары:</b></p>
        {% for item in order.items %}
            {% set total_price = total_price + item.quantity * item.product.price %}
            <p class="card-text small">
                <a href="{{ path('detail_info', { 'id': item.product.id }) }}" class="product-link">{{ item.product.name|slice(0, 30) }}...</a>
            </p>
            <p class="card-text small">
                <strong>{{ item.quantity }} шт</strong><strong>{{ item.quantity * item.product.price }}₽</strong>
            </p>
            <hr>
        {% endfor %}
        <p class="card-text"><b style="color: #c92e2e">Итоговая цена: </b><strong>{{ total_price }}₽</strong></p>
    </div>
</div>