{% set addToCartBtnClass = 'product-card__actions-add_to_cart' %}

<div class="product-card small">
    <p class="product-card__used small" title="code">
        {% if product.used == 1 %}Б/У{% endif %}
    </p>
    <div class="product-card__img-wrapper">
        <img class="product-card__img" src="{{ product.imageLink }}" alt="Card image cap">
    </div>
    <div class="product-card__info">
        <h5 class="product-card__price">{{ product.price }} ₽</h5>
        <p class="product-card__name">{{ product.name|replace({"Б/У": "", "б/у": ""}) }}</p>
        <div class="product-card__actions">
            <i class="fa-sharp fa-solid fa-cart-shopping {{ addToCartBtnClass }}" data-product-id="{{ product.id }}"></i>
        </div>
    </div>
</div>
