{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="login-form-container">
        {{ form_start(registrationForm) }}
        <h4 class="mb-3 font-weight-normal">Регистрация</h4>
        <div class="client-type-links">
            <a href="{{ path('app_register') }}" class="btn btn-lg btn-dark">Физ. лицо</a>
            <a href="#" class="btn btn-lg disabled">Юр. лицо</a>
        </div>
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.name, {'placeholder': 'Имя'}) }}
        {{ form_row(registrationForm.organization_name) }}
        <button type="submit" class="btn btn-lg btn-dark">Зарегистрироваться</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
