{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title 'Обновление заказа' %}
{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form.order_status, { 'attr': { 'class': 'form-control', 'style': 'max-width: 30%;' } }) }}
    <br>
    <button type="submit" class="btn btn-success">Изменить статус</button>
    {{ form_end(form) }}

    <h4 style="margin-top: 2rem; margin-bottom: 2rem">Комментарии</h4>
    {% if order.comments.iterator.count == 0 %}
        <p class="small text-muted">
            Комментариев нет. Можете оставить свой вопрос по поводу заказа здесь
        </p>
    {% else %}
        {% for comment in order.comments.iterator %}
            {% if comment.sender.id == app.user.id %}
                <h6>Вы</h6>
            {% else %}
                <h6>{{ comment.sender.name }}</h6>
            {% endif %}
            <p>{{ comment.text }}</p>
            {% if not loop.last %}
                <hr>
            {% else %}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}

    {{ form_start(comment_form) }}
    {{ form_widget(comment_form.text, { 'attr': { 'class': 'form-control', 'placeholder': 'Введите комментарий' } }) }}
    <button type="submit" class="btn btn-success" style="margin-top: 5px">Отправить</button>
    {{ form_end(comment_form) }}
{% endblock %}