{% extends 'base.html.twig' %}

{% block body %}
    <input type="text" id="page-product-search-input" class="js-search-page-product form-control" placeholder="Поиск по наименованию">

    <div class="accordion" id="detail-groups-accordion">
        <div id="search-result-accordion-item" class="accordion-item hidden">
            <h2 id="headingSearchResult" class="accordion-header">
                <button data-bs-toggle="collapse" data-bs-target="#collapseSearchResult"
                        class="accordion-button" type="button" aria-controls="collapseSearchResult"
                        aria-expanded="true" style="background: rgb(255, 255, 222);">Результаты поиска по наименованию
                </button>
            </h2>
            <div id="collapseSearchResult" data-bs-parent="#detail-groups-accordion" class="accordion-collapse collapse show"
                 aria-labelledby="headingSearchResult" style="">
                <div class="accordion-body">
                    {% for product in products %}
                        {% include 'pieces/table_product_card.html.twig' with { 'product': product, 'cart_items': cart_items } %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for product_category in product_categories %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ loop.index }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
                        {{ product_category }}
                    </button>
                </h2>
                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#detail-groups-accordion">
                    <div class="accordion-body">
                        {% for product in products %}
                            {% if product.category == product_category %}
                                {% include 'pieces/table_product_card.html.twig' with { 'product': product, 'cart_items': cart_items } %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}