<div class="detail-full-info" data-detail-id="{{ product.id }}">
    <img src="{{ product.imageLink }}" alt="{{ product.name }}" class="img-thumbnail detail-full-info__img">
    <p class="detail-full-info__name">{{ product.name }}</p>
    <p class="detail-full-info__total-balance">{{ product.totalBalance }} {{ product.measurementUnit }}</p>
    <p class="detail-full-info__price">{{ product.price }} ₽</p>
</div>