{% set productDescriptionArray = product['description']|split(';') %}
{% set productName = productDescriptionArray[descriptionArrayIndexes['name']] %}
{% set productImageLink = productDescriptionArray[descriptionArrayIndexes['img_link']] %}
{% set productImageWeight = productDescriptionArray[descriptionArrayIndexes['weight']] %}
{% set productImageLength = productDescriptionArray[descriptionArrayIndexes['length']] %}
{% set productImageWidth = productDescriptionArray[descriptionArrayIndexes['width']] %}
{% set productImageHeight = productDescriptionArray[descriptionArrayIndexes['height']] %}
{% set productAdditionalImgLinks = productDescriptionArray[descriptionArrayIndexes['additional_img_links']]|replace({' ': ''})|split(',') %}

<div class="detail-full-info" data-detail-id="{{ product['itemKey'] }}">
    <h5 class="detail-full-info__name" style="font-weight: 300">{{ productName }}</h5>
    <div class="detail-full-info__content">
        <div class="detail-full-info__left">
            <div class="detail-full-info__img-wrapper">
                <img src="{{ productImageLink }}" alt="{{ productName }}" class="img-thumbnail detail-full-info__img">
            </div>
            <div class="detail-full-info__gallery">
                {% set productImageLinks = productAdditionalImgLinks %}
                {% for imageLink in productImageLinks %}
                    {% if imageLink != '' %}
                        <div class="detail-full-info__gallery-item js-put-to-image-wrapper">
                            <img src="{{ imageLink }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="detail-full-info__right">
            <div class="detail-full-info__info">
                <p class="info-row">
                    <span>Производитель</span>
                    <span>{{ product['brand'] }}</span>
                </p>
                <p class="info-row">
                    <span>Артикул</span>
                    <span>{{ product['number'] }}</span>
                </p>
                <p class="detail-full-info__total-balance info-row">
                    <span>В наличии</span>
                    <span>{{ product['availability'] }}шт</span>
                </p>
                <p class="detail-full-info__price info-row">
                    <span style="color: red !important;">Цена</span>
                    <span>{{ product['price'] }} ₽</span>
                </p>
                <br>
                <p class="info-row">
                    <span>Длина</span>
                    <span>{{ productImageLength }}</span>
                </p>
                <p class="info-row">
                    <span>Ширина</span>
                    <span>{{ productImageWidth }}</span>
                </p>
                <p class="info-row">
                    <span>Высота</span>
                    <span>{{ productImageHeight }}</span>
                </p>
                <p class="info-row">
                    <span>Вес</span>
                    <span>{{ productImageWeight }}</span>
                </p>
            </div>
        </div>
    </div>
</div>