{% if app.user %}
    {% set hasNotifications = app.user.notifications.iterator.count > 0 %}

    {% set notifications = {'order_status_changed': [], 'new_comment': []} %}
    {% for notification in app.user.notifications.iterator %}
        {% if notification.action == 1 %}
            {% set notifications = notifications|merge({'order_status_changed': notifications.order_status_changed|merge([notification])}) %}
        {% elseif notification.action == 2 %}
            {% set notifications = notifications|merge({'new_comment': notifications.new_comment|merge([notification])}) %}
        {% endif %}
    {% endfor %}
{% endif %}

<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="mb-3">

        <div class="container">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="{{ path('homepage') }}"><span class="navbar-brand__title">IGG</span><span class="navbar-brand__undertitle">motors</span></a>
                <div class="brand-form">
                    <form id="search-form-mini" class="nav-item d-flex search-form search-form--mini" method="get" action="{{ path('homepage') }}">
                        <div class="search-form--mini-wrapper">
                            <input name="query_string" id="search_form_query_string_mini" class="form-control me-2 search-form__query" type="search" placeholder="VIN | Номер кузова | Номер запчасти" aria-label="Search"
                                    {% if query_str|default(null) is not null %}
                                value="{{ query_str }}"
                                    {% endif %}>
                            <i class="fa-solid fa-magnifying-glass search-form-mini-submit"></i>
                        </div>
                    </form>
                </div>
                <div class="subnavbar">
                    <i class="fa-solid fa-phone nav-item">
                        <div class="nav-item__menu">
                            <a href="tel:+79958907742" class="nav-item nav-item__menu-item">Менеджер | +7(995)890-77-42</a>
                        </div>
                    </i>
                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-item" href="{{ path('order_my_orders') }}"><i title="Мои заказы" class="fa-solid fa-bag-shopping"></i></a>
                        <a class="nav-item" href="{{ path('cart_items') }}"><i title="Корзина" class="fa-solid fa-cart-shopping"></i></a>
                        <i class="fa-solid fa-user nav-item">
                            <div class="nav-item__menu">
                                <a href="#" class="nav-item nav-item__menu-item">Настройки</a>
                                <div>
                                    <a class="nav-item nav-item__menu-item" href="{{ path('app_logout') }}">Выход</a>
                                </div>
                            </div>
                        </i>
                    {% endif %}
                </div>
                {# TODO добавить оповещения #}



{#                {% if is_granted('ROLE_USER') %}#}
{#                    <div class="nav-item user-button">#}
{#                        <i class="fa-solid fa-user"></i>#}
{#                        <div class="user-menu hidden">#}
{#                            <div class="user-menu-item user-info">#}
{#                                <p class="user-fullname">Хайрулев Шамиль</p>#}
{#                            </div>#}
{#                            <div class="user-menu-item">#}
{#                                <a class="btn btn-outline-dark order-link" href="{{ path('order_my_orders') }}">Заказы#}
{#                                    {% if notifications.order_status_changed|length > 0 or notifications.new_comment|length > 0 %}#}
{#                                        <span class="notifications-indicator"></span>#}
{#                                    {% endif %}#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="user-menu-item">#}
{#                                <a class="btn btn-outline-danger w-100 exit-link" href="{{ path('app_logout') }}">Выход</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        {% if hasNotifications %}#}
{#                            <div class="user-button__notifications-indicator"></div>#}
{#                        {% endif %}#}
{#                    </div>#}
                {% if not is_granted('ROLE_USER') %}
                    <div class="auth-item">
                        <a class="btn btn-outline-dark" href="{{ path('app_register') }}">Регистрация</a><a
                                class="btn btn-outline-dark" href="{{ path('app_login') }}">Вход</a>
                    </div>
                {% endif %}
            </nav>
        </div>
    </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

    {% block fakit %}
        <script src="https://kit.fontawesome.com/2fbf3fbf33.js" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
