{% if app.user %}
    {% set notifications = {'order_status_changed': []} %}
    {% for notification in app.user.notifications.iterator %}
        {% if notification.action == 1 %}
            {% set notifications = notifications|merge({'order_status_changed': notifications.order_status_changed|merge([notification])}) %}
        {% endif %}
    {% endfor %}
{% endif %}

<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="mb-3">

        <div class="container">
            <nav class="navbar navbar-light">
                <div class="brand-form">
                    <a class="navbar-brand" href="{{ path('homepage') }}">IGG</a>
                    <form id="search-form-mini" class="nav-item d-flex search-form search-form--mini" method="get" action="{{ path('homepage') }}">
                        <input name="query_string" id="search_form_query_string_mini" class="form-control me-2 search-form__query" type="search" placeholder="VIN | Номер кузова | Номер з/ч" aria-label="Search"
                        {% if query_str|default(null) is not null %}
                            value="{{ query_str }}"
                        {% endif %}>
                    </form>
                </div>



                {% if is_granted('ROLE_USER') %}
                    <div class="nav-item user-button">
                        <i class="fa-solid fa-user"></i>
                        <div class="user-menu hidden">
                            <div class="user-menu-item user-info">
                                <p class="user-fullname">Хайрулев Шамиль</p>
                            </div>
                            <div class="user-menu-item">
                                <a class="btn btn-outline-dark cart-link" href="{{ path('cart_items') }}">Корзина</a>
                                <a class="btn btn-outline-dark order-link" href="{{ path('order_my_orders') }}">Заказы
                                    {% if notifications.order_status_changed|length > 0 %}
                                        <span class="notifications-indicator"></span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="user-menu-item">
                                <a class="btn btn-outline-danger w-100 exit-link" href="{{ path('app_logout') }}">Выход</a>
                            </div>
                        </div>
                        {% if notifications.order_status_changed|length > 0 %}
                            <div class="user-button__notifications-indicator"></div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="auth-item">
                        <a class="btn btn-outline-dark" href="{{ path('app_register') }}">Регистрация</a><a
                                class="btn btn-outline-dark" href="{{ path('app_login') }}">Вход</a>
                    </div>
                {% endif %}
            </nav>
        </div>
    </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

    {% block base_javascripts %}
        <script>
            document.addEventListener('keydown', function (e) {
                const queryInput = document.getElementById('search_form_query_string_mini')
                if (e.key === 'Enter' && queryInput === document.activeElement) {
                    e.preventDefault()
                    document.getElementById('search-form-mini').submit()
                }
            })
        </script>
    {% endblock %}

    {% block fakit %}
        <script src="https://kit.fontawesome.com/2fbf3fbf33.js" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
