<div class="order-form-container">
    <h3>Оформление заказа</h3>
    <p>Выделите товары сверху, заполните форму и нажмите на "Оформить заказ"</p>
    {{ form_start(order_form) }}

    {% block choice_way_to_get_widget %}
        <div style="margin-bottom: 1rem;" class="way_to_get">
            <strong>Способ получения</strong>
            <div id="way_to_get_inputs" style="margin-top: .5rem">
                {% for radio_child in order_form.way_to_get %}
                    {{ form_widget(radio_child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(radio_child, null, {'label_attr' : {'class': 'text-muted'}}) }}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block choice_delivery_type_widget %}
        <div style="margin-bottom: 1rem;" class="delivery_type">
            <strong>Способ доставки</strong>
            <div id="delivery_type_inputs" style="margin-top: .5rem">
                {% for radio_child in order_form.delivery_type %}
                    {{ form_widget(radio_child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(radio_child, null, {'label_attr' : {'class': 'text-muted'}}) }}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {{ form_row(order_form.client_fullname) }}
    {{ form_row(order_form.phone_number) }}
    {{ form_row(order_form.email) }}
    {{ form_row(order_form.city) }}
    {{ form_row(order_form.address) }}
    {% block choice_payment_type_widget %}
        <div style="margin-bottom: 1rem; margin-top: 1rem;" id="create_order_form_payment_type">
            <strong>Способ оплаты:</strong>
            {% for radio_child in order_form.payment_type %}
                <div class="payment-type-input">
                    {{ form_widget(radio_child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(radio_child, null, {'label_attr' : {'class': 'text-muted'}}) }}
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    <input type="hidden" id="cart_items_ids" name="cart_items_ids" value="">
    <div class="order-form__buttons">
        <button type="submit" class="btn btn-dark">Оформить заказ</button>
        <button type="button" class="btn btn-success js-calculate-shipping-cost">Расчитать стоимость доставки</button>
    </div>
    {{ form_end(order_form) }}
</div>

<script>
    document.querySelector('.way_to_get').addEventListener('change', function (e) {
        if (e.target.getAttribute('id') === 'create_order_form_way_to_get_0') {
            hideCityInput()
            hideAddressInput()
            hideCalculateButton()
            hideDeliveryType()
            showOfflinePaymentType()
        }
        else if (e.target.getAttribute('id') === 'create_order_form_way_to_get_1') {
            hideCityInput()
            hideCalculateButton()
            hideOfflinePaymentType()
            hideDeliveryType()
            showAddressInput()
        }
        else if (e.target.getAttribute('id') === 'create_order_form_way_to_get_2') {
            showAddressInput()
            showCalculateButton()
            showCityInput()
            showDeliveryType()
            hideOfflinePaymentType()
        }
    })

    document.addEventListener('DOMContentLoaded', function () {
        const wayToGetInputs = document.querySelectorAll('#way_to_get_inputs > input')
        for (let i = 0; i < wayToGetInputs.length; i++) {
            if (wayToGetInputs[i].checked) {
                const checkedWayToGetInput = wayToGetInputs[i]
                if (checkedWayToGetInput.getAttribute('id') === 'create_order_form_way_to_get_0') {
                    hideCityInput()
                    hideAddressInput()
                    hideCalculateButton()
                    hideDeliveryType()
                    showOfflinePaymentType()
                }
                else if (checkedWayToGetInput.getAttribute('id') === 'create_order_form_way_to_get_1') {
                    hideCityInput()
                    hideCalculateButton()
                    hideOfflinePaymentType()
                    hideDeliveryType()
                    showAddressInput()
                }
                else if (checkedWayToGetInput.getAttribute('id') === 'create_order_form_way_to_get_2') {
                    showAddressInput()
                    showCalculateButton()
                    showCityInput()
                    showDeliveryType()
                    hideOfflinePaymentType()
                }
            }
        }
    })

    function hideCityInput() {
        const cityInput = document.getElementById('create_order_form_city')

        if (!cityInput.classList.contains('hidden'))
            cityInput.classList.add('hidden')

        if (cityInput.hasAttribute('required'))
            cityInput.removeAttribute('required')
    }

    function hideAddressInput() {
        const addressInput = document.getElementById('create_order_form_address')

        if (!addressInput.classList.contains('hidden'))
            addressInput.classList.add('hidden')

        if (addressInput.hasAttribute('required'))
            addressInput.removeAttribute('required')
    }

    function showCityInput() {
        const cityInput = document.getElementById('create_order_form_city')

        cityInput.classList.remove('hidden')

        if (!cityInput.hasAttribute('required'))
            cityInput.setAttribute('required', 'required')
    }

    function showAddressInput() {
        const addressInput = document.getElementById('create_order_form_address')
        console.log('addressInput', addressInput)

        addressInput.classList.remove('hidden')

        if (!addressInput.hasAttribute('required'))
            addressInput.setAttribute('required', 'required')
    }

    function showOfflinePaymentType() {
        const paymentTypeInputs = document.querySelectorAll('.payment-type-input')
        paymentTypeInputs[paymentTypeInputs.length-1].classList.remove('hidden')
    }

    function hideOfflinePaymentType() {
        const paymentTypeInputs = document.querySelectorAll('.payment-type-input')
        paymentTypeInputs[paymentTypeInputs.length-1].classList.add('hidden')
    }

    function showDeliveryType() {
        document.querySelector('.delivery_type').classList.remove('hidden')
    }

    function hideDeliveryType() {
        document.querySelector('.delivery_type').classList.add('hidden')
    }

    function showCalculateButton() {
        document.querySelector('.js-calculate-shipping-cost').classList.remove('hidden')
    }

    function hideCalculateButton() {
        document.querySelector('.js-calculate-shipping-cost').classList.add('hidden')
    }

</script>