<div class="order-form-container">
    <h3>Оформление заказа</h3>
    <p>Выделите товары сверху, заполните форму и нажмите на "Оформить заказ"</p>
    {{ form_start(order_form) }}

    {% block choice_way_to_get_widget %}
        <div style="margin-bottom: 1rem;" class="way_to_get">
            <strong>Способ получения</strong>
            <div id="way_to_get_inputs" style="margin-top: .5rem">
                {% for radio_child in order_form.way_to_get %}
                    {{ form_widget(radio_child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(radio_child, null, {'label_attr' : {'class': 'text-muted'}}) }}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block choice_delivery_type_widget %}
        <div style="margin-bottom: 1rem;" class="delivery_type waytoget-state-item rfdelivery-state-item">
            <strong>Способ доставки</strong>
            <div id="delivery_type_inputs" style="margin-top: .5rem">
                {% for radio_child in order_form.delivery_type %}
                    {{ form_widget(radio_child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(radio_child, null, {'label_attr' : {'class': 'text-muted'}}) }}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {{ form_row(order_form.address) }}
    {{ form_row(order_form.addressGeocoords) }}
    {% block choice_payment_type_widget %}
        <div style="margin-bottom: 1rem; margin-top: 1rem;" id="create_order_form_payment_type">
            <strong>Способ оплаты:</strong>
            {% for radio_child in order_form.payment_type %}
                <div class="payment-type-input {% if not loop.first %}waytoget-state-item pickup-state-item{% endif %}">
                    {{ form_widget(radio_child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(radio_child, null, {'label_attr' : {'class': 'text-muted'}}) }}
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    <input type="hidden" id="cart_items_ids" name="cart_items_ids" value="">
    <div class="order-form__buttons">
        <button type="submit" class="btn btn-dark">Оформить заказ</button>
        <div class="waytoget-state-item rfdelivery-state-item dellin-calculation-buttons">
            <button type="button" class="btn btn-success btn-sm js-calculate-shipping-cost">Расчитать примерную
                стоимость доставки
            </button>
            <button type="button" class="btn btn-primary btn-sm js-show-calculation-modal"
                    title="Калькулятор стоимости доставки"><i
                        class="fa-solid fa-calculator js-show-calculation-modal"></i></button>
            <span class="calculate-btn-tip" title="Оплата доставки по РФ проводится по получению товара">?</span>
        </div>
    </div>
    {{ form_end(order_form) }}
</div>