{% extends 'base.html.twig' %}

{% block title %}Заказ № {{ order['number'] }}{% endblock %}

{% block body %}
    {{ include('@EasyAdmin/flash_messages.html.twig') }}
    <h5>Итоговая сумма: {{ order['sum'] }}<span class="small">₽</span></h5>
    <br>

    <div class="order-table">
        <div class="order-row">
            <div class="order-label text-muted">
                Номер заказа
            </div>
            <div class="order-value order-id">
                {{ order['number'] }}
            </div>
        </div>
        <div class="order-row">
            <div class="order-label text-muted">
                Дата заказа
            </div>
            <div class="order-value">
                {{ order['date'] }}
            </div>
        </div>
        <div class="order-row">
            <div class="order-label text-muted">
                Статус заказа
            </div>
            <div class="order-value">
                {{ order['status'] }}
            </div>
        </div>
        <div class="order-row">
            <div class="order-label text-muted">
                Адрес
            </div>
            <div class="order-value">
                {{ order['deliveryAddress'] }}
            </div>
        </div>
        <div class="order-row">
            <div class="order-label text-muted">
                Товары
            </div>
            <div class="order-value">
                <a href="#" class="js-toggle-order-products-visibility">Показать товары</a>
                <br>
                <br>
                {% for item in order['positions'] %}
                    <div class="order-product hidden">
                        <p><a href="{{ path('detail_info', {'articleNumber': item['number'], 'itemKey': item['itemKey']}) }}" class="product-link">{{ item['description'] }}</a></p>
                        <p>{{ item['quantity'] }}<span class="small">шт</span> - {{ item['price'] }}<span class="small">₽</span></p>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#  Тут был блок с комментариями  #}
{% endblock %}